
<body>
    <div align="center">
        <div class="container">
            <div class="row align-items-start">
                <div class="col">

                </div>


                <div class="col">
                    WELCOME TO GROUP 11s SEARCH ENGINE
                </div>
                <div class="col">

                </div>
                <br>

            </div>
            <div class="row align-items-center">
                <div class="col">

                </div>
                <div class="col">
                    USE THE SEARCH BAR TO SEARCH FOR ANY
                </div>
                <div class="col">

                </div>
                <br>

            </div>
            <div class="row align-items-end">
                <div class="col">

                </div>
                <div class="col">
                    CODING ISSUE YOU MAY HAVE
                </div>
                <div class="col">

                </div>
            </div>
            <button class="btn btn-secondary my-2 my-sm-0 id=loginbtn" data-bind="click: changeMenu">Log in</button>
        </div>
    </div>

</body>