<div align="center">
    <div class="container">
        <br>
        <div class="col-12">
            <br>
            <div>
                
                    <p >
                        <div  data-bind="text: errorMsg" type="text"> </div>
                    </p>
                

                <form>
                    <div class="row">
                        <div class="col-2 offset-2">
                            Username
                        </div>
                        <div class="col-5">
                            <input class="form-control" data-bind="textInput: username" type="text" id="userName" />
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-2 offset-2">
                            Password
                        </div>
                        <div class="col-5">
                            <input class="form-control" data-bind="value: password" type="password" id="password">
                        </div>
                    </div>



                    <div class="row mt-1">
                        <div class="col-9 offset-2">
                            <button class="shadow-lg p-1 mb-2 mt-2 bg-white rounded" data-bind="click: doLogin">Login</button>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-9 offset-2">
                            <button class="shadow-lg p-1 mb-2 bg-white rounded" data-bind="click: goToReg">Register</button>
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>
<pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
